@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');
/*    font-family: 'Handlee', cursive;

    font-family: 'Montserrat', sans-serif;
*/

*{

    box-sizing: border-box;
}

html{

    scroll-behavior: smooth;
    position: relative;
    min-height: 100%;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

:root{

    --fuenteprincipale:'Montserrat', sans-serif;
    --fuenteseguntario: 'Handlee', cursive;
    --colorprincipal: #d33e23;
    --colorsegundario: #21242e;
    --margingrid: 1em;
    --fontsize: 1em;
    --anchomaximo: 1100px;
}

body{

    font-family: var(--fuenteprincipale);
    font-size: var(--fontsize);

}

.container{

    max-width: var(--anchomaximo);
    margin: 0 auto;
}


                                                                /*EMPEZAMOS CON EL MOVIL FIRST*/

/*INICIO HEADER*/


header .nav-top{

    background-color: var(--colorsegundario);
    padding: var(--margingrid) 0px;
}

header .nav-top .container{

    display: flex;
    justify-content: space-around;
}

header .nav-top a{

    color: var(--colorprincipal);
    text-decoration: none;
}

header .nav-top a span{

    display: none;
}

header .nav-top a i{

    font-size: 150%;
}

header nav{

    padding: var(--margingrid);

}

header nav .container:after{ /*Para quitar la flotacion despues del nav para que el hero no se suba arriba del menu*/

    display: block; /*Necesito un bloque*/
    content: ""; /*Que no tenga contenido*/
    clear: both; /*Al que le quitamos el float con clear*/
    height: 0;  /*Y que no tenga altura*/
} 

header nav .hamburguesa {

    cursor: pointer;
}

header .hamburguesa{

    float: right;
}

header .logo{

    float: left;
    max-width: 100px;
}

header .menu{

    padding-top: 60px;
    text-align: center;

}

header .menu a{

    text-decoration: none;
    display: block;
    padding: calc(var(--margingrid)*1.25);
    color: #aaa;
    border-bottom: 1px solid #aaa;
}

header .menu li:last-child a{ /*Del ultimo child del li, entramos en el a y le quitamos el borde bottom*/

    border: none;
}

header .menu .activo{

    color: var(--colorprincipal);
}

header nav .hamburguesa div{

    border-top: 2px solid #aaa;
    width: 2em;
    margin-bottom: calc(var(--margingrid)*0.75);
    
}
/*FIN HEADER*/

/*INICIO FOOTER*/

footer{

    background-color: var(--colorsegundario);
    padding: var(--margingrid) 0px;
    color: white;
    text-align: center;
    position: absolute;
    width: 100%;    
    bottom: 0;
}

footer a{

    color:white;
    text-decoration: none;
}

footer a:hover{

    color: var(--colorprincipal);
}

.flecha a{

    display: block;
    color: var(--colorprincipal);
    position: fixed;
    bottom: 3%;
    right: 10px;
    font-size: 250%;
}

/*FIN FOOTER*/

/*MAIN*/

/*INICIO Hero*/

.hero{

    background-image: url(../img/fondo.jpg);
    height: 60vh;
    background-position: center center;
    background-size: cover;
    background-color: rgb(143, 137, 137);
    background-blend-mode:multiply ;
    color: white;
    display: flex; /*Me centra el contenido a al vertical*/
}

.hero .container{

    display: flex; /*Me centra el contenido al horizontal*/
    flex-direction: column; /*para que el contenido quede en colimna*/
    justify-content: center; /*para centrar el texto*/
    width: 90%;
}

.hero h1{

    font-family: var(--fuenteseguntario);
    font-size: 2.25em;
}

.hero h2{

    color: var(--colorprincipal);
    margin: var(--margingrid) 0;
    font-size: 1.25em;
}

.hero p{

    font-size: 1.15em;
}

.boton{

    display: inline-block; /*quiero que sea clicable en todas partes*/
    background-color: var(--colorprincipal);
    padding: var(--margingrid);
    color: white;
    text-decoration: none;
    margin: var(--margingrid) 0;
    border: 1px solid var(--colorprincipal);
}

.boton:hover{

    background-color: transparent;

}

.boton:hover i{

    transform: translateX(5px);
    transition:0.5s;
}

.hero .social{

    display: flex;
    justify-content: space-between;
    width: 150px;
}

.hero .social a{

    color: white;
    text-decoration: none;
    font-size: 200%;
}

/* FIN Hero */

/*INICIO Our Services*/

main section {
    padding: calc(var(--margingrid)*3) var(--margingrid);
}


main section h2{

    color: black;
    font-family: var(--fuenteseguntario);
    font-size: 2em;
    text-align: center;
}

main section h2 span{

    color: var(--colorprincipal);
}

main section .underline{

    position: relative;
    width: 100px;
    margin:0 auto;
    text-align: center;
    margin-bottom: var(--margingrid);
    
}

main section .underline hr{

    position: absolute;
    width: 100%;
    top: -1px;
    border-color: var(--colorprincipal);
}

main section .underline span {

    color: var(--colorprincipal);
    font-weight: 700;
}


main #our-services .grid{

    display: grid;
}

main #our-services .grid article{

    padding: calc(var(--margingrid)*2) 0;
    border-bottom: 1px solid #aaa;
}

main #our-services .grid article div i{

    color: var(--colorprincipal);
    font-size: 150%;
    border: 1px solid var(--colorprincipal);
    padding: 0.5em;
}

main #our-services .grid article h3{

    font-weight: 700;
    margin: 10px 0;
    font-size: 110%;
}

main section p{

    color: #aaa;
    line-height: 1.25;
    margin-bottom: 10px;
}

.enlace{

    text-decoration: none;
    color: var(--colorprincipal);
}

.fa-truck{

    transform: rotateY(180deg);
}


/*FIN Our Services*/

/* INICIO About us */

main #about-us .flex .column{

    margin: var(--margingrid);
}

main #about-us .column h3{

    font-weight: 700;
    font-size: 110%;  
}

main #about-us .column h4{

    margin: 0.8em 0;
   color: var(--colorprincipal); 

   
}

main #about-us .imagen{

    width: 90%;
    margin: 0 auto;
}

main #about-us .imagen .marco{

    border: 3px solid var(--colorprincipal);
    transform: rotateZ(10deg);
    transition: 1s;
}


main #about-us .imagen .marco img{

    transform: rotateZ(-10deg);
    transition: 1s;

}

main #about-us .imagen:hover .marco, 
main #about-us .imagen:hover .marco img{

    transform: rotateZ(0deg);
}

/* FIN About Uu */





/*MEDIA QUERIES*/

@media(min-width:600px){ 

    main #our-services .grid{

        grid-template-columns: repeat(2, 1fr);
        gap: var(--margingrid);
    }

    main #our-services .grid article:last-child{

        grid-column: 1/3;
    }

    main #our-services .grid article{

        border-bottom: 0px;
        border-left: 1px solid #aaa;
        padding: var(--margingrid);
    }

   /*  main section{

        padding: calc(var(--margingrid)*3) var(--margingrid) calc(var(--margingrid)*5) var(--margingrid);
    } */

    main section {
        padding: calc(var(--margingrid)*3) var(--margingrid);
    }
    
    main #about-us .flex {

        display: flex;
    }

    main #about-us .imagen{

        width: 80%;      
    }
    main #about-us{
        margin-bottom: 2em;
    }

    
}

@media(min-width:768px){ /*Cambio de 3columnas a 2 en BLOG y punto de cambio para otra parte tambien*/

    header .nav-top a span{
    
        display: inline;
        color: white;
    }

    header .nav-top a i{

        font-size: 120%;
    }

    footer{

        text-align: left;
    }

    main #our-services .grid{

        grid-template-columns: repeat(3, 1fr);
      
    }

    main #our-services .grid article:last-child{

        grid-column: 3/4;
    }

}

@media(min-width:1004px){ 

    
    header .hamburguesa{

        display: none;

    }

    header .menu{
        padding-top: 0px;
        float: right;
    }

    header .menu li{

        display: inline-block;
    }

    header .menu li a{

        border: none;
        padding: 0.5em calc(var(--margingrid));
    }


}